<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adsdk.manager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="androidx.multidex.MultiDexApplication">

        <!--replaceStart-->
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3946952859060313~1303682466" />
        <!-- 添加 AppLovin 支持。-->
        <meta-data android:name="applovin.sdk.key" android:value="9PT0t6me45aFfVViXXFlnO6Q2ewr5ITFh1FZ80DC5oSmHzSqUhTF5fg7JayOuVeaWu8fvLs-7JkPGBDlun_zRf" />
        <!-- 添加 Ogury 支持。-->
        <meta-data android:name="ogury.appid" android:value="" />
        <!--replaceEnd-->

        <activity
            android:name="com.adsdk.manager.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>